<script setup>
import {ref,onMounted, nextTick} from 'vue';
import { confirmation,sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer '+authStore.authToken;
onMounted(()=>{getLibros(), getPrestamos(1)});
const libros=ref([]);
const prestamos=ref([]);
const load = ref(false);
const rows = ref(0);
const form = ref({
    titulo:'',
});
const getLibros = async()=>{
    await axios.get('/api/libros').then(  //posible error
    response=>(libros.value = response.data))
    load.value=true;
}
const deleteLibro = (id,titulo)=>{ //posible error
    confirmation(titulo,('/api/libros/'+id),'/'); //posible error
}
</script>
<template>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="d-grid col-10 mx-auto">
                <router-link :to="{ path:'create'}" class="btn btn-dark"> 
                    <i class="fa-solid fa-circle-plus"></i> Añadir
                </router-link>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card border border-white text-center" v-if="!load">
            <div class="card-body">
                <img src="/loading.gif" class="img-fluid">
            </div>
            </div>
            <div class="table-responsive" v-else>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Titulo:</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="lib,i in libros" :key="lib.id"> 
                        <td>{{ (i+1) }}</td>
                        <td>{{ (lib.titulo) }}</td>
                        <td>
                            <router-link :to="{path:'edit/'+lib.id }" 
                            class="btn btn-warning">
                                <i class="fa-solid fa-edit"></i>
                            </router-link>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                            @click="deleteLibro(lib.id,lib.titulo)">
                            <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</template>
