<script setup>
import {ref,nextTick} from 'vue';
import { show_alerta,sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer '+authStore.authToken;
const form = ref({ nombre:'' ,nacionalidad:'',fecha_nacimiento:''});
const nombreInput = ref('');
const save = () =>{
    sendRequest('Post',form.value,'/api/autores','');
    form.value.nombre = '';
    form.value.nacionalidad = '';
    form.value.fecha_nacimiento = '';
    nextTick( () => nombreInput.value.focus());
}
</script>
<template>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="card border border-info">
                <div class="card-header bg-info border border-info"></div>
                <div class="card-body">
                    <form @submit.prevent="save">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <input autofocus type="text" v-model="form.nombre"
                            placeholder="Nombre" class="form-control" required ref="nombreInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                            <input autofocus type="text" v-model="form.nacionalidad"
                            placeholder="Nacionalidad" class="form-control" required ref="nacionalidadInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <input autofocus type="date" v-model="form.fecha_nacimiento"
                            placeholder="Año" class="form-control" required ref="fecha_nacimientoInput">
                        </div>
                        <div class="d-grid col-10 mx-auto">
                            <button class="btn btn-dark">
                                <i class="fa-solid fa-save"> Guardar</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>