<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';

const route = useRoute();
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer ' + authStore.authToken;

const form = ref({
  id: '',
  nombre: '',
  nacionalidad: '',
  fecha_nacimiento: '',
});

const id = ref(route.params.id);

onMounted(() => {
  getAutor();
});

const getAutor = () => {
  axios.get('api/autores/' + id.value)
    .then(response => {
      const data = response.data.data;
      form.value.nombre = data.nombre;
      form.value.nacionalidad = data.nacionalidad;
      form.value.fecha_nacimiento = data.fecha_nacimiento;
    })
    .catch(error => {
      console.error('Error fetching libro:', error);
      // Puedes manejar el error de alguna manera, como mostrando un mensaje al usuario.
    });
};

const save = () => {
  sendRequest('PUT', form.value, '/api/autores/' + id.value, '/autores');
};
</script>

<template>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="card border border-info">
        <div class="card-header bg-info border border-info"></div>
        <div class="card-body">
          <form @submit.prevent="save">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-user-tie"></i>
              </span>
              <input autofocus type="text" v-model="form.nombre"
                     placeholder="Autor" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-globe"></i>
              </span>
              <input autofocus v-model="form.nacionalidad"
                     placeholder="Nacionalidad" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <input autofocus type="date" v-model="form.ano_publicacion"
                     placeholder="Año de nacimiento" class="form-control" required>
            </div>
            <div class="d-grid col-10 mx-auto">
              <button class="btn btn-dark">
                <i class="fa-solid fa-save"> Guardar</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
