<script setup>
import { useAuthStore } from '../stores/auth'
const authStore = useAuthStore();

</script>
<template>
 <nav class="navbar navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" v-if="authStore.user">
            <li class="nav-item px-lg-5 h4">
                {{ authStore.user.name }}
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/libros" class="nav-link">Libros</Router-link>
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/autores" class="nav-link">Autores</Router-link>
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/prestamos" class="nav-link">Prestamos</Router-link>
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/usuarios" class="nav-link">Usuarios</Router-link>
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/graphic" class="nav-link">Grafica</Router-link>
            </li>
            <li class="nav-item px-lg-5">
                <Router-link to="/reports" class="nav-link">reports</Router-link>
            </li>
        </ul>
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0" v-if="authStore.user">
            <li class="nav-item px-lg-5">
                <button @click="$event =>authStore.logout" class="btn btn-info">Salir</button>
            </li>
        </ul>
    </div>
  </div>
</nav>

</template>