<script setup>
import { onMounted } from 'vue';

defineProps(['modalVue','options']);

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() =>{
    if (input.value.hasAttribute('autofocus')){
        input.value.focus();
    }
});
defineExpose({ focus: () => input.value.focus()});
</script>
<template>
    <select
        class="form-select"
        :value="modelValue"
        @change="$event =>emit('update:modelValue', $event.target.value)"
        ref="input">
        <option v-for="op in options" :key="op.i" value="op.id">
            {{ op.titulo }}
        </option>
    </select>
</template>