c<script setup>
import { ref, nextTick } from 'vue';
import { show_alerta, sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer ' + authStore.authToken;
const form = ref({ nombre: '', correo: '', telefono: '', dirreccion: '', fecha_registro: '' });
const nombreInput = ref('');
const save = () => {
    sendRequest('Post', form.value, '/api/usuarios', '');
    form.value.nombre = '';
    form.value.correo = '';
    form.value.telefono = '';
    form.value.dirreccion = '';
    form.value.fecha_registro = '';
    nextTick(() => nombreInput.value.focus());
}
</script>

<template>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="card border border-info">
                <div class="card-header bg-info border border-info"></div>
                <div class="card-body">
                    <form @submit.prevent="save">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-regular fa-address-book"></i>
                            </span>
                            <input autofocus type="text" v-model="form.nombre"
                                placeholder="Nombre" class="form-control" required ref="nombreInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-at"></i>
                            </span>
                            <input autofocus type="text" v-model="form.correo"
                                placeholder="Correo" class="form-control" required ref="correoInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-mobile-screen-button"></i>
                            </span>
                            <input autofocus type="text" v-model="form.telefono"
                                placeholder="Telefono" class="form-control" required ref="telefonoInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            <input autofocus type="text" v-model="form.dirreccion"
                                placeholder="Direccion" class="form-control" required ref="dirreccionInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <input autofocus type="date" v-model="form.fecha_registro"
                                placeholder="Año" class="form-control" required ref="fecha_registroInput">
                        </div>
                        <div class="d-grid col-10 mx-auto">
                            <button class="btn btn-dark">
                                <i class="fa-solid fa-save"> Guardar</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
