<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';

const route = useRoute();
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer ' + authStore.authToken;

const form = ref({
  id: '',
  nombre: '',
  correo: '',
  telefono: '',
  dirreccion: '',
  fecha_registro: '',
});

const id = ref(route.params.id);

onMounted(() => {
  getUsuarios();
});

const getUsuarios = () => {
  axios.get('api/usuarios/' + id.value)
    .then(response => {
      const data = response.data.data;
      form.value.nombre = data.nombre;
      form.value.correo = data.correo;
      form.value.telefono = data.telefono;
      form.value.dirreccion = data.dirreccion;
      form.value.fecha_registro = data.fecha_registro;
    })
    .catch(error => {
      console.error('Error fetching libro:', error);
      // Puedes manejar el error de alguna manera, como mostrando un mensaje al usuario.
    });
};

const save = () => {
  sendRequest('PUT', form.value, '/api/usuarios/' + id.value, '/usuarios');
};
</script>

<template>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="card border border-info">
        <div class="card-header bg-info border border-info"></div>
        <div class="card-body">
          <form @submit.prevent="save">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-regular fa-address-book"></i>
              </span>
              <input autofocus type="text" v-model="form.nombre"
                     placeholder="Usuarios" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-at"></i>
              </span>
              <input autofocus v-model="form.correo"
                     placeholder="Correo" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-mobile-screen-button"></i>
              </span>
              <input autofocus v-model="form.telefono"
                     placeholder="Telefono" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-location-dot"></i>
              </span>
              <input autofocus v-model="form.dirreccion"
                     placeholder="Dirreccion" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <input autofocus type="date" v-model="form.fecha_registro"
                     placeholder="Año de registro" class="form-control" required>
            </div>
            <div class="d-grid col-10 mx-auto">
              <button class="btn btn-dark">
                <i class="fa-solid fa-save"> Guardar</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
