<script setup>
import {ref,onMounted} from 'vue';
import { confirmation } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer '+authStore.authToken;
onMounted(()=>{getUsuarios()});
const usuarios=ref([]);
const load = ref(false);
const getUsuarios = async()=>{
    await axios.get('/api/usuarios').then(  //posible error
    response=>(usuarios.value = response.data))
    load.value=true;
}
const deleteLibro = (id,nombre)=>{ //posible error
    confirmation(nombre,('/api/usuarios/'+id),'/'); //posible error
}
</script>
<template>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="d-grid col-10 mx-auto">
                <router-link :to="{ path:'crea'}" class="btn btn-dark"> 
                    <i class="fa-solid fa-circle-plus"></i> Añadir
                </router-link>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-9 offset-md-1">
            <div class="card border border-white text-center" v-if="!load">
            <div class="card-body">
                <img src="/loading.gif" class="img-fluid">
            </div>
            </div>
            <div class="table-responsive" v-else>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Dirreccion</th>
                        <th>fecha_registro</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr v-for="lib,i in usuarios" :key="lib.id"> 
                        <td>{{ (i+1) }}</td>
                        <td>{{ (lib.nombre) }}</td>
                        <td>{{ (lib.correo) }}</td>
                        <td>{{ (lib.telefono) }}</td>
                        <td>{{ (lib.dirreccion) }}</td>
                        <td>{{ (lib.fecha_registro) }}</td>
                        <td>
                            <router-link :to="{path:'edita/'+lib.id }" 
                            class="btn btn-warning">
                                <i class="fa-solid fa-edit"></i>
                            </router-link>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                            @click="deleteLibro(lib.id,lib.nombre)">
                            <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</template>
