<script setup>
import {ref,nextTick} from 'vue';
import { show_alerta,sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer '+authStore.authToken;
const form = ref({ titulo:'', autor_id:'',genero:'',ano_publicación:'',cantidad_disponible:'' });
const tituloInput = ref('');
const save = () =>{
    sendRequest('Post',form.value,'/api/libros','');
    form.value.titulo = '';
    form.value.autor_id = '';
    form.value.genero = '';
    form.value.ano_publicación = '';
    form.value.cantidad_disponible = '';
    nextTick( () => tituloInput.value.focus());
}
</script>
<template>
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <div class="card border border-info">
                <div class="card-header bg-info border border-info"></div>
                <div class="card-body">
                    <form @submit.prevent="save">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-book"></i>
                            </span>
                            <input autofocus type="text" v-model="form.titulo"
                            placeholder="Titulo" class="form-control" required ref="tituloInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user-tie"></i>
                            </span>
                            <input autofocus v-model="form.autor_id"
                            placeholder="Autor" class="form-control" required ref="autor_idInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-book-bookmark"></i>
                            </span>
                            <input autofocus type="text" v-model="form.genero"
                            placeholder="Genero" class="form-control" required ref="generoInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-calendar-days"></i>
                            </span>
                            <input autofocus type="date" v-model="form.ano_publicacion"
                            placeholder="Año" class="form-control" required ref="ano_publicacionInput">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="fa-solid fa-book-medical"></i>
                            </span>
                            <input autofocus type="number" v-model="form.cantidad_disponible"
                            placeholder="Cantidad" class="form-control" required ref="cantidad_disponibleInput">
                        </div>
                        <div class="d-grid col-10 mx-auto">
                            <button class="btn btn-dark">
                                <i class="fa-solid fa-save"> Guardar</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>