<script setup>
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';
import { sendRequest } from '../../functions';
import { useAuthStore } from '../../stores/auth';
import axios from 'axios';

const route = useRoute();
const authStore = useAuthStore();
axios.defaults.headers.common['Authorization'] = 'Bearer ' + authStore.authToken;

const form = ref({
  id: '',
  titulo: '',
  autor_id: '',
  genero: '',
  ano_publicacion: '',
  cantidad_disponible: '',
});

const id = ref(route.params.id);

onMounted(() => {
  getLibro();
});

const getLibro = () => {
  axios.get('api/libros/' + id.value)
    .then(response => {
      const data = response.data.data;
      form.value.titulo = data.titulo;
      form.value.autor_id = data.autor_id;
      form.value.genero = data.genero;
      form.value.ano_publicacion = data.ano_publicacion;
      form.value.cantidad_disponible = data.cantidad_disponible;
    })
    .catch(error => {
      console.error('Error fetching libro:', error);
      // Puedes manejar el error de alguna manera, como mostrando un mensaje al usuario.
    });
};

const save = () => {
  sendRequest('PUT', form.value, '/api/libros/' + id.value, '/libros');
};
</script>

<template>
  <div class="row mt-5">
    <div class="col-md-4 offset-md-4">
      <div class="card border border-info">
        <div class="card-header bg-info border border-info"></div>
        <div class="card-body">
          <form @submit.prevent="save">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-book"></i>
              </span>
              <input autofocus type="text" v-model="form.titulo"
                     placeholder="Titulo" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-user-tie"></i>
              </span>
              <input autofocus v-model="form.autor_id"
                     placeholder="Autor" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-book-bookmark"></i>
              </span>
              <input autofocus type="text" v-model="form.genero"
                     placeholder="Genero" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-calendar-days"></i>
              </span>
              <input autofocus type="date" v-model="form.ano_publicacion"
                     placeholder="Año" class="form-control" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa-solid fa-book-medical"></i>
              </span>
              <input autofocus type="number" v-model="form.cantidad_disponible"
                     placeholder="Cantidad" class="form-control" required>
            </div>
            <div class="d-grid col-10 mx-auto">
              <button class="btn btn-dark">
                <i class="fa-solid fa-save"> Guardar</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
